@media screen and (max-width:1000px) and (min-width:800px) {

    .navbar ul li a{
        font-size: 13px;
        margin: 10px;
    }
    .btns{
        margin-left: 20px;
    }
    .btns button{
        height: 30px;
        padding: 6px 9px;
        font-size: 10px;
        margin: 5px;
    }
   
    
}

@media screen and  (max-width:800px){
   
   .fond h1{
    text-align: center;
    font-size: 45px;
   }
  
   .fond button{
    margin-top: 40px;
}

   .navbar ul{
    display: none;
   }
  
   .listbtn{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 3px;
}
.listbtn.active span:nth-child(2){
    visibility: hidden;
}

.listbtn.active span:first-child{
    transform: rotate(45deg) translateY(11.5px) ;
    background-color: white;
    transition: all 0.6s;
}
.listbtn.active span:last-child{
    transform: rotate(-45deg) translateY(-11.5px) ;
    background-color: white;
    transition: all 0.6s;
}
.listbtn span{
    width: 35px;
    height: 3px;
    background-color: #006699;
    border-radius: 3px;
    margin: 3px;
    
}
.header.active{
    background:  #006699;
}
.navbar.active{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.navbar.active ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}
.navbar.active ul li {
    margin: 20px;
}
.navbar.active ul li a{
    color: white;
}
.btns{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}
.btns button{
    margin: 20px 0px;
   
}
.header .parent{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    height: 55px;
}
.header{
    flex-direction: column;
    position: fixed;
    z-index: 10000;
}
.header.scrolled .listbtn span{
    background-color: white;
    transition: all 0.8s;
}
.logo img {
    width: 130px;
    height: 50px;
}
.aboutimg{
    height: 30%;
}

.swiper-slide img{
    width: 120px;
}
.parentvalues {
   height: max-content;
   padding: 30px 10px ;
   flex-direction: column;
}
.parentvalues .item{

    width: 300px;
    height: 250px;
    margin: 20px;
}

/*************** footer ***********************/

.footer .contact .contactchild {
    flex-direction: column;
    align-items: flex-start;
}
.footer .contact .contactchild div{
    border: none;
}
.footer .contact .contactchild div a{
    padding: 5px 0px;
}
}

